/* Reset ================================================================================= */
* { margin:0; padding:0; }
body          { font: 15px/28px Verdana, Arial, Helvetica, sans-serif; 
				color:#222; 
}
img           { border:0; vertical-align:top;    max-width: 100%; }
a             { color:#C90104; text-decoration:none;}
a:focus       { outline:0; }
a:link 		  { color: #C90104; }
a:active,
a:hover       { text-decoration:none;}

.col-left a{ color: #4F8100;}
.col-left a:hover{ color: #fff;}

/* Headings */
h1            { font-size:20px; font-weight:bold; }
h2            { font-size:19px; font-weight:bold; }
h3            { font-size:16px; font-weight:bold; }
h4            { font-size:15px; font-weight:bold; }
h5            { font-size:12px; font-weight:bold; }
h6            { font-size:11px; font-weight:bold; }
h1,h2,h3,h4,h5,h6{color: #0289c9;}
h3 a:link{float:right;color:#4F8100;font-size:12px; background:url(images/uparrow.jpg) no-repeat right center;padding-right:12px;}
h3 a{float:right;color:#4F8100;font-size:12px; background:url(images/uparrow.jpg) no-repeat right center;padding-right:12px;}
h3 a:hover{color:#000;text-decoration:none;}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; width:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             {  margin-bottom: 14px; }
strong        { font-weight:bold; color: #0289c9;}
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
small,big     { font-size:1em; }

pre{ padding:15px; background:#F8F8F8; overflow:auto; font-size:11px;}

ul, ol {
    margin: 0 0 5px 16px;
    list-style: none outside none;
}

.clear{ clear:both;}

.logo {
    padding: 20px 0 20px 15px;
    border-bottom: 1px solid #ddd;
}
.logo img {
    max-width: 100%;
}

i.jstree-icon.jstree-ocl {
    position: absolute;
    height: 10px;
    width: 10px;
    right: 0;
    background: red;
}

/*  Layout */
.col-left .toclevel-1.childlist {
    background: rgb(79, 191, 168) none repeat scroll 0 0;
}
#childinstallation { font-weight: normal; }
.wrapper { width: 100%; margin:auto auto;  }
h1.title { text-align:center; margin-top:15px; margin-bottom:15px;}
.col-main {
    float: left;
    margin-top: 25px;
    margin-left: 20%;
    width: 79.9%;
}
.col-left {
    background: none repeat scroll 0 0 #f8f8f8;
    box-shadow: 0 0 15px #bcbcbc;
    height: 100%;
    left: 0;
    min-height: 100%;
    position: fixed;
    width: 20%;
    z-index: 100;
    overflow:auto;
    font-size: 14px;
}
.themeoptions1, .tocnumber {
    color: #000000;
}

.buttons a:hover {
    background-color: #f06159;
}

.buttons a {
    background-color: #46cbb0;
    border-radius: 2px;
    box-shadow: 1px 1px 0 #1d5749;
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms linear 0s;
}
.col-left li > a{  padding: 0 0 0 15px; }
.col-left a{ color: #222;  width: 100%;}
.col-left li:hover{ background: #0289C9; cursor: pointer;}
ul.mainul li a.active, ul.mainul li:hover a {
    background: none repeat scroll 0 0 #0289c9;
    color: #FFFFFF;
}
ul.mainul li a.active, ul.mainul li a.active span {
    color: #fff;
}
.col-left li span{line-height: 40px;}
.col-left li {border-bottom: 1px solid #ddd;}
.col-left li a{  display: block; }
.col-left li:hover a, .col-left li:hover span{ color: #fff; }
.mainul > li a, .mainul > li span {
    color: #222;
}

.col2-main-head {   border-bottom: 1px solid #ddd;    border-top: 1px solid #ddd;    display: block;    float: left;    width: 100%;}
.col2-1 {
    float: left;
    padding: 0 0 15px;
}
.link.buttons {
    clear: both;
}

#videostutorials {
    overflow: hidden;
    padding: 15px 40px;
    text-align: center;
}

.uploadtheme::before {
	background: rgba(0, 0, 0, 0) url("images/play.png") no-repeat scroll 0 center;
    border-radius: 5px;
    bottom: 0;
    content: "";
    left: 40px;
    position: absolute;
    right: 0;
    top: 0;
}

.uploadtheme {
	padding-left: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
	font-size: 20px;
    float: left;
}

.col2-head { margin-bottom: 25px; padding: 0 40px; }

.sub-containers{ width: 100%; float: left;}

.front-image-block .img-border{  border: none; max-width: 70%;  box-shadow: 5px 5px 17px 5px rgba(0,0,0,0.2);}
.config-image-block { width: 25%;  float:left; clear: both; }
.details-block {
    width: 75%;
    float: left;
    text-align: left;
}

.col2-2 { float:right;  padding:15px; background:#eee;  }
.toc ul{ list-style:none; margin:0;}
.toc ul.firstlvl li a .tocnumber {
    padding-left: 15px;
}
.toc ul.seclvl li {
    padding-left: 30px;
}
hr{ border:1px solid #ddd; margin:15px auto; float: left; width: 100%; }
.containers { position: relative; clear:left; overflow: hidden; padding: 0 40px; } 
.containers h3,.containers h4{ margin-bottom:10px; clear: both; color: #0289c9;}
.containers h3 {
    background: #f8f8f8;
    padding: 10px 20px;
    color: #0289C9;
    margin-bottom: 25px;
    margin-top: 50px;
}
p.image-block { text-align: center;}
.success { color:#3d6611; }
.error { color:#df280a;  }
.notice { color:#e26703; margin-top:5px; margin-bottom:5px; }
.error-msg,
.success-msg,
.note-msg,
.notice-msg { border-style:solid !important; border-width:1px !important; padding:4px 12px !important; font-size:13px !important;  }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.note-msg,
.notice-msg { border-color:#fcd344; background-color:#fafaec; color:#3d6611; }

.img-border{ 
	border: 5px solid #ededed;
	margin-bottom:10px;
	max-width: 80%;
}
.imgarrow{padding:10px 7px 0 0}
.bulletarrow{padding: 10px 0 0 0;}
.languages{}
.languages a{color:#4F8100;font-size:12px;font-weight:bold;}
.languages a:hover{color:#000;}
.link-block {
    clear: both;
    cursor: pointer;
	float: left;
}